################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestApp/bin
/TestApp/obj
/TG.JSON/bin
/TG.JSON/obj
/.vs/TG.JSON/v14
