################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestApp/bin
/TestApp/obj
/TG.JSON/bin
/TG.JSON/obj
/.vs/TG.JSON/*
/TG.JSON/NuGet-Create NuSpec.bat
/TG.JSON/NuGet-Package.bat
*.nupkg
*.suo
/Documentation/Help/LastBuild.log
